<html>

<head>
	<title>Movie Quizz</title>
	<meta charset="UTF-8">
</head>


<body>
	
	<form action = "/searching" method = "POST">
		<input type = "text" name = "wordsearch" placeholder = "Write some words to start searching for movies">

		<button type = "submit"> Search </button>
		



	</form>




</body>




</html>