<html>

<head>
	<title>Movie Quizz</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>


<body>
	
	<header>Search a term</header>


	<form action = "/results" method = "GET">
		<input type = "text" name = "wordsearch" placeholder = "E.g. Star Wars">

		<button type = "submit"> Search </button>
	</form>
	<div class="moviediv">
		<img class = "filmicon" src="/film.png">
	</div>

</body>

</html>