<html>

<head>
	<title>Movie Quizz</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>


<body>

	<header> <%=@question.question%></header>
	<div class="container">

	  <form action = "/check_answer" method = "POST">

				<%@search_results.each do |movie|%>
				<div class="options">
				<img class="movies" src="<%=movie.poster%>">
				<button type="submit" name="movieyear" value="<%=movie.year%>">Select</button>
				</div>
			 <%end%>
		

	  </form>

    </div>



</body>




</html>